.w-10{width:10%!important}
.w-15{width:15%!important}
.w-20{width:20%!important}
.b-t-force{
  border-top: 1px solid #ccfaf1!important;
}

div.has-error div.form-group{
  margin-bottom: 0px !important
}
.text-information {
    color: #10cfbd!important;
}
.text-lilac {
    color: #6D5CAE!important;
}
.btn-complete2, .btn-complete2:focus {
    color: #fff;
    background-color: #48b0f7;
    border-color: #48b0f7;
}
.btn-complete2.hover, .btn-complete2:hover, .show .dropdown-toggle.btn-complete {
    background-color: #6dc0f9;
    border-color: #6dc0f9;
    color: #fff;
}
.background-condensed  {
    background: #daeffd!important;
}
.menu-bar ul li.active {
    border-bottom: 2px solid #007be8
}

.social-card.status.blue {
    background: #daeffd;
    border-radius: 4px;
    padding: 15px 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid transparent;
}
.bg-brown {
    background: #939393;
}

.text-blue {
    color: #02bec9!important
}

.nav-tabs-linetriangle > li > a.active {
    color: black;
}