= simple_form_for Asset.new, url: public_assets_path(@document.class.name, @document) do |f|
  .modal-header.clearfix.text-left
    button.close aria-hidden="true" data-dismiss="modal" type="button" 
      i.pg-close.fs-14
    h5 
      | Documents
      / span.semi-bold Information
    / p.p-b-10 We need payment information inorder to process your order
  .modal-body
    .row
      .dropzone
      .fallback.hide
        = f.file_field :file
    / .row
    /   .col-md-8
    /     .p-t-20.clearfix.p-l-10.p-r-10
    /       .pull-left
    /         p.bold.font-montserrat.text-uppercase TOTAL
    /       .pull-right
    /         p.bold.font-montserrat.text-uppercase $20.00
    /   .col-md-4.m-t-10.sm-m-t-10
    /     button.btn.btn-primary.btn-block.m-t-5 type="button"  Pay Now
css:
  div.dropzone.dz-clickable{
    width:100%;  
  }
javascript:
  $(document).ready(function(){
    Dropzone.autoDiscover = false;
    $(".dropzone").dropzone({
      url: "#{public_assets_path(@document.class.name, @document)}",
      maxFilesize: 15,
      paramName: "asset[file]",
      addRemoveLinks: true,
      init: function() {
        $.ajax({
            type: 'GET',
            url: "#{public_assets_path(@document.class.name, @document)}",
            dataType: 'JSON',
            success: function(response) {
            $.each(response, function(index, object){ 
              var imgDropzone = Dropzone.forElement(".dropzone");
              var mockFile = {
                  name: object.asset.name,
                  size: object.asset.size,
                  accepted: true,
                  kind: object.asset.type,
              };
              imgDropzone.emit("addedfile", mockFile);
              imgDropzone.createThumbnailFromUrl(mockFile, object.asset.imageURL);
              imgDropzone.emit("complete", mockFile);
              $(imgDropzone.element.lastChild).find(".dz-remove").data('id', object.asset.id)
            })
          }
        });
      },
      removedfile: function(file) {
          var name = file.name;  
          var data_id = $(file.previewTemplate).find('a').data('id')
          $.ajax({
              type: 'DELETE',
              url: '/public/assets/'+data_id,
              dataType: 'JSON'
          });
        var _ref;
        return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;        
      }

    })
  })